.all {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    zoom: 80%;
}
#bg{
    background-image: url('../../assets/walls/1.jpg');
    transition: background-image 1s ease-in-out;
    height: 100vh; 
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw 100vh;
    position: absolute;
    opacity: 0.5;
    background-color: #313131;
}
.logo{
    margin: 0 auto;
}
.logo img{
    height: 10em;
}
.tabsGroup{
    margin: 0 auto;
}

.loginCard {
    margin: 0 auto;
    margin-top: 2em;
    width: 30em;
    min-height: 30em;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    display: grid;
}
form{
    margin: auto !important;
}
.textSup {
    color: #444;
}
.textSup h1{
    margin: 0;
}
.inputs {
    width: 24em;
    margin: 3em 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.icons {
    color: #444444;
    align-self: center;
    margin: 0;
}
.btnLogin button {
    width: 21em;
    height: 3em;
    border-radius: 8px;
    font-size: 1.1em;
    color: #fafafa;
}
@media only screen and (max-device-width: 824px) and (-webkit-min-device-pixel-ratio: 2) {
    .loginCard {
        zoom: 95%;
    }
    .all{
        zoom: 50%;
        /* height: 100vh;  */
    }
}

.num1-9{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.num1-9 button{
    border: 2px solid #0288d1;
    color: #c1c1c1;
    min-height: 3em;
    font-weight: bolder;
    font-size: 2em;
    background-color: #313131;
    border-radius: 8px;
    white-space: normal;
    line-height: normal;
}

::ng-deep .mat-tab-header{
    background-color: rgba(255,255,255,0.2) !important;
}