.all{
    padding: 1em;
    background-color: #f9f9f9;
    min-height: -moz-calc(100vh - 4.5em);
    min-height: -webkit-calc(100vh - 4.5em);
    min-height: calc(100vh - 4.5em);
    display: grid;
    grid-template-rows: 10vh auto;
}
.sup{
    text-align: end;
}
.mainSupBtn{
    width: 12em;
    margin-left: 1em;
}
.tablaBuscar {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    background-color: white;
    margin: 1em 0 0.5em 0;
}
.buscarInput{
    padding: 0.5em 2em 0 2em;
}
table {
    width: 100%;
    text-align-last: center;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
td, th {
    width: 20%;
}
::ng-deep .mat-sort-header-container{
    justify-content: center;
}
/* SERVICIOS */
.newServForm{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 2em;
    margin: 1em;
    padding: 2em;
    border: 3px dashed goldenrod;
    border-radius: 8px;
}
/* PRODUCTOS */
.newProdForm{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 2em;
    margin: 1em;
    padding: 2em;
    border: 3px dashed goldenrod;
    border-radius: 8px;
}
  /* AGREGAR FOTOS */

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.labelFile {
    cursor: pointer;
    min-width: 5vw;
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.mat-icon{
    vertical-align: middle;
}
.photoProd{
    vertical-align: middle;
    margin: 0.4em 0;
    max-height: 10vh;
}
.deleteBtn{
    margin-left: 1em;
    min-width: 5vw;
}
@media only screen and (max-device-width: 800px) and (-webkit-min-device-pixel-ratio: 2) { 
    .all {
        zoom: 69%;
    }
}