<div class="bg">
    <div class="logo">
        <img  src="../../assets/logo.png" alt="logo">
    </div>
    <mat-card class="loginCard">
        <form>
            <div class="textSup">
                <h1>Inicia Sesion</h1>
            </div>
            <div class="inputs">
                    <p class="icons"><mat-icon>mail</mat-icon></p>
                    <mat-form-field>
                        <input matInput name="email" [(ngModel)]="email" placeholder="email.." required>
                    </mat-form-field>
                    <p class="icons"><mat-icon>lock</mat-icon></p>
                    <mat-form-field>
                        <input matInput type="password" name="pass" [(ngModel)]="pass" placeholder="pass.." required>
                    </mat-form-field>
            </div>
            <div class="btnLogin">
                <button mat-raised-button id="btn-login" color="primary" (click)="login(email,pass)">Login</button>
            </div>
        </form>
    </mat-card>
</div>