<div class="all">
    <div class="header">
        <h3>Productos y Servicios</h3>
    </div>
    <mat-tab-group>
        <!-- SERVICIOS=============================================================== -->
        <mat-tab label="Servicios"> 
            <mat-card>
                <form #formNewServ="ngForm">
                    <div class="sup">
                        <button *ngIf="!showNewServ" color="primary" mat-raised-button class="mainSupBtn" (click)="showNewServ=!showNewServ">Agregar Servicio</button>
                        <button *ngIf="showNewServ" color="accent" mat-raised-button (click)="showNewServ=!showNewServ"> <mat-icon>arrow_back</mat-icon> </button>
                        <button *ngIf="showNewServ" color="primary" mat-raised-button class="mainSupBtn" (click)="showNewServ=!showNewServ; guardarNuevoServicio()" [disabled]="!formNewServ.form.valid">Guardar</button>
                    </div>
                    <div *ngIf="showNewServ" [@animationNewServ]="showNewServ"  class="newServForm">
                        <mat-form-field>
                            <input matInput name="descripcionS" [(ngModel)]="descripcionS" placeholder="Descripción del Servicio..." required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="text" pattern="\d{1,3}(\.\d{2})?" name="precioS" [(ngModel)]="precioS" placeholder="Precio... (ej. 199.99)" required>
                        </mat-form-field>                    
                    </div>
                </form>
                <div class="tabla">
                    <div class="tablaBuscar">
                        <mat-form-field class="buscarInput">
                            <input matInput (keyup)="filtrarS($event.target.value)" placeholder="Filtrar o buscar...">
                        </mat-form-field>
                    </div>
                    
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSourceS" matSort>
                        
                            <!-- Descripcion Column -->
                            <ng-container matColumnDef="descripcion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
                            <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
                            </ng-container>
                        
                            <!-- Precio Column -->
                            <ng-container matColumnDef="precio">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
                            <td mat-cell *matCellDef="let row"> ${{row.precio}} </td>
                            </ng-container>

                            <!-- Precio Column -->
                            <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                            <td mat-cell *matCellDef="let row"> 
                                <button class="deleteBtn" color="warn" mat-raised-button (click)="eliminarServicio(row.descripcion, row.uid)"  ><mat-icon>delete</mat-icon></button> 
                            </td>
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsS"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsS;">
                            </tr>
                        </table>
                    
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>                              
                </div>
            </mat-card>    
        </mat-tab>
        <!-- PRODUCTOS================================================================ -->
        <mat-tab label="Productos">
            <mat-card>
                <form #formNewProd="ngForm">
                    <div class="sup">
                        <button *ngIf="!showNewProd" color="primary" mat-raised-button class="mainSupBtn" (click)="showNewProd=!showNewProd">Agregar Producto</button>
                        <button *ngIf="showNewProd" color="accent" mat-raised-button (click)="showNewProd=!showNewProd"> <mat-icon>arrow_back</mat-icon> </button>
                        <button *ngIf="showNewProd" color="primary" mat-raised-button class="mainSupBtn" (click)="showNewProd=!showNewProd; guardarNuevoProducto()" [disabled]="!formNewProd.form.valid">Guardar</button>
                    </div>
                    <div *ngIf="showNewProd" [@animationNewServ]="showNewProd" >
                        <div class="newProdForm">
                            <mat-form-field>
                                <input matInput name="skuP" [(ngModel)]="skuP" placeholder="SKU del Producto..." required>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput name="nombreP" [(ngModel)]="nombreP" placeholder="Nombre..." required>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput type="text" pattern="\d{1,3}(\.\d{2})?" name="precioP" [(ngModel)]="precioP" placeholder="Precio... (ej. 499.99)" required>
                            </mat-form-field>  
                        </div>
                                         
                    </div>
                </form>
                <div class="tabla">
                    <div class="tablaBuscar">
                        <mat-form-field class="buscarInput">
                            <input matInput (keyup)="filtrarP($event.target.value)" placeholder="Filtrar o buscar...">
                        </mat-form-field>
                    </div>
                    
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSourceP" matSort #sortProductos="matSort" >
                        
                            <!-- SKU Column -->
                            <ng-container matColumnDef="sku">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> SKU </th>
                            <td mat-cell *matCellDef="let row"> {{row.sku}} </td>
                            </ng-container>

                            <!-- Nombre Column -->
                            <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                            <td mat-cell *matCellDef="let row"> 
                                {{row.nombre}}
                            </td>
                            </ng-container>
                        
                            <!-- Precio Column -->
                            <ng-container matColumnDef="precio">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
                            <td mat-cell *matCellDef="let row"> ${{row.precio}} </td>
                            </ng-container>

                            <!-- Foto Column -->
                            <ng-container matColumnDef="foto">
                                <th mat-header-cell *matHeaderCellDef> Foto </th>
                                <td mat-cell *matCellDef="let row"> 
                                    <img *ngIf="row.photourl" class="photoProd" [src]="row.photourl" alt="photo">
                                </td>
                            </ng-container>

                            <!-- Acciones Column -->
                            <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                            <td mat-cell *matCellDef="let row" > 
                                <div >
                                    <label class="labelFile mat-raised-button mat-primary" ><mat-icon>photo_camera</mat-icon><input type="file" class="inputfile" (change)="subirFoto($event, row)" /></label>
                                    <button class="deleteBtn" color="warn" mat-raised-button (click)="eliminarProducto(row.nombre, row.uid)"  > <mat-icon>delete</mat-icon></button>
                                </div> 
                                <div *ngIf="row.showProgressBar" style="width: 94%" >
                                    <mat-progress-bar mode="determinate" [value]="uploadPercent | async"></mat-progress-bar> <span>{{uploadPercent | async | number:'1.0-0'}}%</span>
                                </div>
                            </td>
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsP"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsP;">
                            </tr>
                        </table>
                    
                        <mat-paginator #paginatorP [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>                              
                </div>
            </mat-card>  
        </mat-tab>
    </mat-tab-group>
</div>